body {
  background: black;
  width: 600px;
  height: 600px;
}

.image { 
  position: relative; 
  padding-top: 25px;
  padding-left: 25px;
  width: 100%; /* for IE 6 */
  display: block;
}

.aboutHead { 
  position: absolute; 
  top: 30%; 
  text-align: center; 
  width: 100%;
  color: white;
  font-size: 2.8em;
  font-family: "PT Mono", "American Typewriter";
  margin-bottom: 40px
}

.aboutme { 
  position: absolute; 
  top: 56%; 
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center; 
  color: white; 
  font-size: 1.4em;
  background: rgba(7, 7, 7, 0.78);
  font-family: "PT Mono", "American Typewriter" ;
  border-radius: 15px;
  vertical-align: middle;
}
.link {
  color: white;
}
.link:hover {
  color: pink;
}
.headers {
  font-family: "PT Mono", "American Typewriter";  
  color: white;
  text-align: center;
}
.headers a{
  font-family: "PT Mono", "American Typewriter" ;
  text-align: center;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 15px;
  color: white;
}
.headers a:hover {
  font-family: "PT Mono", "American Typewriter" ;
  text-align: center;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 15px;
  color: pink;
}